/* Adding some default styles */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    rgb(20, 20, 222),
    rgb(222, 169, 178),
    rgb(145, 58, 226)
  );
}

/* Styling all the buttons */
button {
  font-size: 1.1rem;
  font-weight: 550;
  color: #ffff;
  padding: 0.8rem 0.9rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;

  cursor: pointer;
}

/* Styling the h1 | main heading */
h1 {
  width: 20%;
  margin: 1rem auto;

  color: #ffff;
}

/* Styling the game description container , The game area  and the game form */
.container,
.gameArea,
#gameForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  width: 30%;
  margin: auto auto 1.2rem auto;
  padding: 1.3rem 0;
  border: none;
  border-radius: 0.6rem;
}
.container,
.gameArea {
  background-color: #ebe8e8;
}
.container > img {
  width: 90%;
}
.container > #easy {
  background: linear-gradient(149deg, #75069e 0%, #e70dff 72.88%);
}
.container > #hard {
  background: linear-gradient(149deg, #040d90 0%, #6149ff 72.88%);
}

.gameArea {
  margin-top: 5rem;
}
.gameArea h2{
    margin:0.4rem 0;
}
.high-or-low{
    font-size: 1.25rem;
    font-weight: 650;
    color: #a00808;
    margin:.4rem 0;
}

#newGame {
  background: linear-gradient(149deg, #75069e 0%, #e70dff 72.88%);
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

#gameForm > label {
  font-size: 1.1rem;
  font-weight: 550;
}

#gameForm > button {
  background: linear-gradient(149deg, #830365 0%, #ff0d96 72.88%);
}

#userGuessVal {
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
}

/* Styling the output div */
.output {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  font-weight: 550;
}

.output > #prevAttempts {
  color: blue;
}

.output > #prevGuesses {
  color: red;
}
