/* Adding default styles */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main heading */
h1{
    margin-top: 3rem;
}

/* Styling the form */
.bmiCalc{
    margin-top: 3rem;
    padding: 1.5rem;
    background-color:#e0cae0;
}

.bmiCalc > input{
    padding:.4rem .5rem;
}

.bmiCalc > label{
    font-size: 1rem;
    font-weight: 500;
}

.bmiCalc > button{
    padding:.5rem;
    font-size: 1rem;
    background-color: #362348;
    color: #ffff;
    margin: 1rem 0;

    cursor:pointer;
}

/* Styling the guide container */
.guideContainer{
    margin-top: .5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 550;
    

    padding: 2rem;
    background-color: beige;


}
.guideContainer > h2{
  text-decoration: underline;
}


.guideContainer > .underw{
color: #894489 ;
}

.guideContainer > .normal{
color:#008000 ;

}

.guideContainer > .overw{
color: #cd2222 ;
}

/* Styling the output paragraph */
#output{
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}

