/* Adding some default styles */
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-y: hidden;
}

/* Styling the video tag */
.video-container{
   
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: -2;

   
}

/* Styling the switch button */

.switch-btn{
    position: absolute;
margin:3rem 1rem 5rem 2rem;
left:2rem;
bottom:7rem;

font-size: 1.1rem;
background-color: beige;
padding: .6rem 1.4rem;
border:none;
border-radius: .6rem;
z-index: 15;
}

.switch-btn>.play,.switch-btn>.pause{
    cursor: pointer;
}

.switch-btn>.switch{
    position: absolute;
    top:0;
    width:4.5rem;
    left:4.3rem;
    height: 2.5rem;
    background-color: blueviolet;

    border-radius: .6rem;
   
    transition: all .4s ease-in;
   transform:translateX(-5rem);

}


/* Styling the div of the heading and the heading */

.header-div-opened {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0b0c80;
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 10;


  color: #ffffff;
}

.header-div-opened>p {
    font-size: 3rem;
    font-weight: 700;
}