/* Applying some default styles */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eae8ff;
}

li {
  list-style: none;
}

/* Styling the nav-bar */
nav {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;


 
}


nav > li {
  font-size: 1.5rem;
  cursor: pointer;

  padding: 1.4rem;
  transition: all .3s ease-in;

}

/* Styling the menus in the navbar */
.home-tab-menu {
  background-color: #6ba9ef;
}
.home-tab-menu:hover{
  background-color: #7fbbff;
  text-shadow: 2px 1.5px #efe4e4;
}

.about-tab-menu {
  background-color: #3E4756;
  color: #ffffff;
}
.about-tab-menu:hover{
  background-color:#63676d;
  text-shadow: 2px 1.5px #5d5b5b;
}
.contact-tab-menu {
  background-color: #A2ACBD;
}
.contact-tab-menu:hover{
  background-color: #c1c7d1;
  text-shadow: 2px 1.5px #efe4e4;
}

/* Styling each tab-section */
.tab-section {
  height: 100vh;
  width: 93vw;

  margin: auto;
  padding: 2.4rem;

  font-size: 1.4rem;
   transition: all .3s ease-in;
}

.home-tab {
  background-color: #6ba9ef;
}
.about-tab {
  background-color: #3E4756;
  color: #ffffff;
}
.contact-tab {
  background-color: #A2ACBD;
}
